@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Londrina+Solid:wght@100&display=swap');

body {
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,#ee9ca7,#ffdde1 );
  font-size: 90px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


